<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pengxh.easywallpaper">

    <!--普通权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!--危险权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.WallpaperActivity" />
        <activity android:name=".ui.DiscoverDetailActivity" />
        <activity android:name=".ui.CategoryActivity" />
        <activity android:name=".ui.StarActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.StarPersonalActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.ExonerationActivity" />
        <activity android:name=".ui.PrivacyActivity" />
        <activity android:name=".ui.IssueActivity" />
        <activity android:name=".ui.BigPictureActivity" />
        <activity android:name=".ui.HeadImageActivity" />

        <provider
            android:name=".utils.ImageProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>
</manifest>